@{
    ViewBag.Title = "Головна";
    var appName = eDoc.Web.Base.App.Settings.AppName;
    var amount = "NNN";
    var descr = $"Це потужний інструмент для роботи з пацієнтами та лікарями<br/>Зручний сервіс та висока якість - доступні кожному.";
    descr = $"Нас обрало вже {{{amount}}} людей в Україні!";
}
<style>
    .content-container {
        position: relative;
    }

    .header {
        height: 150px;
        background-color: white;
    }

    .home-menu {
        height: 40px;
        background-color: #3D3D3D;
    }

    .main-img {
        height: 560px;
        background-color: blue;
        background: url('../../Content/img/12-50-secrets-hospitals-our-human-side_560.jpg') center no-repeat;
    }

    .half-clickable, .half-clickable-link {
        background-color: #303030;
        opacity: 0.5;
        height: 560px;
        width: 50%;
        display: inline-block;
        float: left;
        cursor: pointer;
    }

        .half-clickable:hover {
            background-color: transparent;
        }

    .half-clickable-link {
        background-color: transparent;
    }

        .half-clickable-link:hover {
            background-color: transparent;
            cursor: pointer;
        }

    .block-scope {
        background: yellow;
        height: 500px;
        width: 750px;
        margin-top: -50px;
        margin-left: calc(50% - 375px);
    }

        .block-scope .row {
            margin: 0;
        }

    .menu-option {
        display: inline-block;
        color: #F9FAF4;
        font-size: 16pt;
        padding: 5px 10px;
        font-weight: 500;
    }

        .menu-option:hover {
            color: #76CB0B;
            cursor: pointer;
            text-decoration: none;
        }

        .menu-option:visited {
            text-decoration: none;
        }

    .blog-section {
        background-color: greenyellow;
        height: 300px;
    }

    .contacts-section {
        background-color: lawngreen;
        height: 300px;
    }

    #contacts, #blog {
        margin-top: 10px;
    }

    .go-up {
        position: fixed;
        /*left: -40px;*/
        bottom: 0;
        color: white;
        width: 100px;
        height: 50px;
        background-color: #3D3D3D;
        opacity: 0.25;
        /*transform: rotate(-90deg);*/
    }

        .go-up:hover {
            opacity: 0.75;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        .go-up:visited {
            text-decoration: none;
        }

    .branding-title {
        font-weight: 500;
        font-size: 25pt;
        color: #3d3d3d;
    }
    .you-are {
        font-weight: 500;
        font-size: 25pt;
        color: white;
        height: 50px;
        position: absolute;
        top: 0;
        margin-top: 25px;
        margin-left: calc(50% - 50px);
    }
    .branding-descr {
        font-weight: 400;
        font-size: 12pt;
        color: #3d3d3d;
    }
    .logo-hospital {
        position: absolute;
        top: 10px;
        height: 128px;
        width: 128px;
        left: 100px;
        background: center no-repeat;
        background-image: url('../../Content/img/logo-hospital.png');
    }
</style>
<div id="main-content-holder">
    <section id="home">
        <div class="row header">
            <div class="logo-hospital"></div>
            <div class="row branding-title text-center">@appName - якість, якій можна довіряти</div>
            <div class="row branding-descr text-center">@Html.Raw(descr)</div>
        </div>
        <div class="row home-menu text-center">
            <a href="#home" class="menu-option">Головна</a>
            <a href="#services" class="menu-option">Про нас</a>
            <a href="#blog" class="menu-option">Блог</a>
            <a href="#contacts" class="menu-option">Контакти</a>
        </div>
    </section>
    <div class="row content-container">
        <div class="main-img text-center" style="position: relative;">
            <div id="clickable-left-target" class="half-clickable">&nbsp;</div>
            <div id="clickable-right-target" class="half-clickable">&nbsp;</div>
            <div class="you-are" style="font-size: 36pt;">Ви...</div>
            <div class="clickable-container" style="position:absolute; top: 0; left: 0; width: 100%; height: 560px;">
                <div id="clickable-left" style="color: white; font-size: 36pt; font-weight: 500; opacity: 0.75; " class="half-clickable-link">
                    <div style="margin-top: 375px; width: 250px; float: left;">Пацієнт</div>
                </div>           
                <div id="clickable-right" style="color: white; font-size: 36pt; font-weight: 500; opacity: 0.75; " class="half-clickable-link">
                    <div style="margin-top: 375px; width: 250px; float: right;">Лікар</div>
                </div>
            </div>
        </div>
        <section id="services">
            <div class="row block-scope">
                @*blocks*@
                <div class="row" style="position: relative; background: green; height: 250px">
                    <div id="cell00" style="width: 250px; top: 0; left: 0; position: absolute; height: 250px; background-color: chartreuse;">
                        @*<div class="front" style="background-color: white;"></div>
                            <div class="back" style="background-color: red;"></div>*@
                    </div>
                    <div style="width: 250px; top: 0; left: 250px; position: absolute; height: 250px; background-color: chartreuse"></div>
                    <div style="width: 250px; top: 0; left: 500px; position: absolute; height: 250px; background-color: yellow;"></div>
                </div>
                <div class="row" style="background: blue; position: relative; height: 250px">
                    <div style="width: 250px; top: 0; left: 0; position: absolute; height: 250px; background-color: yellow;"></div>
                    <div style="width: 250px; top: 0; left: 500px; position: absolute; height: 250px; background-color: chartreuse"></div>
                    <div style="width: 250px; top: 0; left: 250px; position: absolute; height: 250px; background-color: brown;"></div>
                </div>
                @*<div class="row" style="background: yellow; position: relative; height: 250px">
                        <div style="width: 250px; top: 0; left: 0; position: absolute; height: 250px; background-color: chartreuse"></div>
                        <div style="width: 250px; top: 0; left: 250px; position: absolute; height: 250px; background-color: yellow;"></div>
                        <div style="width: 250px; top: 0; left: 500px; position: absolute; height: 250px; background-color: brown;"></div>
                    </div>*@
            </div>
        </section>
    </div>
    <section id="blog">
        <div class="row blog-section">
            &nbsp;
        </div>
    </section>
    <section id="contacts">
        <div class="row contacts-section">
            &nbsp;
        </div>
    </section>
</div>
<a href="#home" class="go-up text-center">
    <div style="margin: 10px; font-size: 14pt;">Go up!</div>
</a>

<script>
    $('#clickable-left').mouseover(function () {
        $('#clickable-left-target').css('background-color', 'transparent');
        $('#clickable-left').children().css('background-color', '#3d3d3d');
    }).mouseout(function () {
        $('#clickable-left-target').css('background-color', '#303030');
        $('#clickable-left').children().css('background-color', 'transparent');
    });
    $('#clickable-right').mouseover(function () {
        $('#clickable-right-target').css('background-color', 'transparent');
        $('#clickable-right').children().css('background-color', '#3d3d3d');
    }).mouseout(function () {
        $('#clickable-right-target').css('background-color', '#303030');
        $('#clickable-right').children().css('background-color', 'transparent');
    });
    $('#cell00').flip();
    $('#cell00').click(function () {
        $(this).flip();
    })
</script>